name: test
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        nim-branch: [version-1-2, devel]
        fuel-compat: [0, 1]
      fail-fast: false
    name: nim-${{ matrix.nim-branch }}-FUELCompat:${{ matrix.fuel-compat }}
    runs-on: ubuntu-latest
    steps:
    - name: environment
      run: echo "::set-env name=FUELCompat::${{ matrix.fuel-compat }}"
    - name: install packages
      run: |
        sudo apt-get install numdiff hwloc-nox libhwloc-dev mpich libmpich-dev
    - name: install hwloc v2
      run: |
        curl -LO https://download.open-mpi.org/release/hwloc/v2.2/hwloc-2.2.0.tar.bz2
        tar xf hwloc-2.2.0.tar.bz2
        cd hwloc*/
        ./configure --prefix="$PWD/../hwloc-v2" --disable-opencl --disable-netloc --disable-cairo
        make -j $(nproc)
        make install
    - name: set path to hwloc v2
      run: |
        echo "::add-path::${{ github.workspace }}/hwloc-v2/bin"
        echo "::set-env name=LD_LIBRARY_PATH::${{ github.workspace }}/hwloc-v2/lib"
    - name: system info
      run: |
        free
        cat /proc/cpuinfo
        hwloc-ls
        gcc -v
        mpicc -v
    - name: checkout Nim
      uses: actions/checkout@v2
      with:
        repository: nim-lang/Nim
        ref: ${{ matrix.nim-branch }}
        path: Nim
    - name: checkout Nim csources
      uses: actions/checkout@v2
      with:
        repository: nim-lang/csources
        path: Nim/csources
    - name: set path to nim
      run: echo "::add-path::${{ github.workspace }}/Nim/bin"
    - name: build Nim csources
      working-directory: Nim/csources
      run: make -j $(nproc)
    - name: build Nim & nimble
      working-directory: Nim
      run: |
        nim c koch
        ./koch boot -d:release -d:danger
        ./koch nimble -d:release -d:danger
    - name: checkout
      uses: actions/checkout@v2
      with:
        path: qex
    - name: install nimble dependencies
      working-directory: qex
      run: nimble install -dy
    - name: install qmp & qio
      working-directory: qex
      run: ./bootstrap-travis
    - name: configure
      working-directory: qex
      run: QMPDIR=qmp QIODIR=qio ./configure
    - name: make tests
      working-directory: qex
      run: make tests
    - name: testscript
      working-directory: qex
      run: |
        ulimit -c unlimited
        cat /proc/sys/kernel/core_pattern
        sudo sh -c 'echo %e.core.%p.%t > /proc/sys/kernel/core_pattern'
        cat /proc/sys/kernel/core_pattern
        CLEANUPJOBS=./finalizeTests ./testscript.sh
    - name: runtests
      working-directory: qex
      run: |
        ulimit -c unlimited
        cat /proc/sys/kernel/core_pattern
        sudo sh -c 'echo %e.core.%p.%t > /proc/sys/kernel/core_pattern'
        cat /proc/sys/kernel/core_pattern
        CLEANUPJOBS=./finalizeTests ./runtests.sh
    - name: make bench
      working-directory: qex
      run: make bench
    - name: benchLinalg
      working-directory: qex
      run: bin/benchLinalg
